
//当在320屏幕下的rem/px比例；
@base:40rem;

//初始化样式
*{
  margin: 0;
  padding: 0;
}

//左浮动
.l_f{
  float: left;
}

//右浮动
.r_f{
  float: right;
}

//清除浮动
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

//定位
.p_r{
  position: relative;
}
.p_a{
  position: absolute;
}
.p_f{
  position: fixed;
}
